openapi: 3.2.0
info:
  title: bonndata Dataverse Native REST API (Public Read Subset)…
  description: Public, read-only subset of the Dataverse Native REST API as exposed by bonndata, the University of Bonn institutional research data repository (https://bonndata.uni-bonn.de).
  version: 6.7.1
  contact:
    name: bonndata Research Data Repository, University of Bonn
    email: bonndata@uni-bonn.de
    url: https://bonndata.uni-bonn.de/
  license:
    name: Apache License 2.0
    url: https://github.com/IQSS/dataverse/blob/develop/LICENSE.md
servers:
- url: https://bonndata.uni-bonn.de/api
  description: bonndata Dataverse Native API base (verified live, 362 indexed datasets)
tags:
- name: Metrics
  description: Aggregate repository metrics.
paths:
  /info/metrics/datasets:
    get:
      tags:
      - Metrics
      summary: Count of published datasets
      operationId: Metrics_getDatasetsAllTime
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: All-time count of published datasets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
components:
  schemas:
    CountResponse:
      type: object
      properties:
        status:
          type: string
          example: OK
        data:
          type: object
          properties:
            count:
              type: integer
              example: 362
          required:
          - count
      required:
      - status
      - data
externalDocs:
  description: Dataverse Native API guide
  url: https://guides.dataverse.org/en/latest/api/native-api.html
